<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>home page</title>
</head>
<body>
   <section class="mith d-flex justify-content-center align-items-center ">
    <div class="text-center">
       <h1 class="font-weight-bold ">my contact manager</h1>
       <p style="font-size: 15px;">we are collecting your details for the security purpose in the smart way</p>
       
       <button class="btn bg-primary btn-lg text-white">get start</button>
     </div>
   </section>
</body>
</html>